<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seekermob.songseeker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application>
        <activity
            android:name=".activity.SongSeekerActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.PlaylistOptionsActivity"
            android:label="Playlist Options" >
        </activity>
        <activity
            android:name=".activity.RecSongsActivity"
            android:label="Playlist" >
        </activity>
        <activity
            android:name=".activity.CreatePlaylistRdioActivity"
            android:label="Export to Rdio"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="checkin4me"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreatePlaylistLastfmActivity"
            android:label="Export to Last.fm" >
        </activity>
        <activity
            android:name=".activity.CreatePlaylistYoutubeActivity"
            android:label="Export to YouTube" >
        </activity>
        <activity android:name=".activity.SongInfoActivity" >
        </activity>
        <activity android:name=".activity.ReleaseInfoActivity" >
        </activity>
        <activity android:name=".activity.ArtistInfoActivity" >
        </activity>
        <activity
            android:name=".activity.ArtistBioActivity"
            android:label="Artist Biography" >
        </activity>
        <activity
            android:name=".activity.ArtistNewsActivity"
            android:label="Artist News" >
        </activity>
        <activity
            android:name=".activity.SimilarArtistsActivity"
            android:label="Similar Artists" >
        </activity>
        <activity
            android:name=".activity.MusicInfoTab"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.CreatePlaylistGroovesharkActivity"
            android:label="Export to Grooveshark" >
        </activity>
        <activity
            android:name=".activity.WatchSongVideoActivity"
            android:label="Watch on YouTube" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="About" >
        </activity>
        <activity android:name=".activity.PlayPlaylistActivity" >
        </activity>
    </application>

</manifest>