<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seekermob.songseeker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application>
        <activity
            android:label="@string/app_name"
            android:name=".activity.SongSeekerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:label="Playlist Options"
            android:name=".activity.PlaylistOptionsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Playlist"
            android:name=".activity.RecSongsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Export to Rdio"
            android:launchMode="singleInstance"
            android:name=".activity.CreatePlaylistRdioActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="checkin4me"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:label="Export to Last.fm"
            android:name=".activity.CreatePlaylistLastfmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Export to YouTube"
            android:name=".activity.CreatePlaylistYoutubeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SongInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ReleaseInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ArtistInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Artist Biography"
            android:name=".activity.ArtistBioActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Artist News"
            android:name=".activity.ArtistNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Similar Artists"
            android:name=".activity.SimilarArtistsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MusicInfoTab"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:label="Export to Grooveshark"
            android:name=".activity.CreatePlaylistGroovesharkActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Watch on YouTube"
            android:name=".activity.WatchSongVideoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Profile"
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="Settings"
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.google.ads.AdActivity" />
    </application>

</manifest>