<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seekermob.songseekerfree"
    android:versionCode="9"
    android:versionName="2.3.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.seekermob.songseeker.activity.SongSeekerActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.PlaylistOptionsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Playlist Options" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.RecSongsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Playlist" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.CreatePlaylistRdioActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Export to Rdio"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="checkin4me"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.CreatePlaylistLastfmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Export to Last.fm" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.CreatePlaylistYoutubeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Export to YouTube" >
        </activity>
        <activity android:name="com.seekermob.songseeker.activity.SongInfoActivity" >
        </activity>
        <activity android:name="com.seekermob.songseeker.activity.ReleaseInfoActivity" >
        </activity>
        <activity android:name="com.seekermob.songseeker.activity.ArtistInfoActivity" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.ArtistBioActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Artist Biography" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.ArtistNewsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Artist News" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.SimilarArtistsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Similar Artists" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.MusicInfoTab"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.CreatePlaylistGroovesharkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Export to Grooveshark" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.WatchSongVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Watch on YouTube" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.ProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Profile" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="About" >
        </activity>
        <activity
            android:name="com.seekermob.songseeker.activity.PlayPlaylistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Play on Grooveshark" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>